{% extends 'base.html' %}
{% block title %}Email Wysłany{% endblock %}
{% block container %}

<header>
    <nav class="container container--70">
        {% include './partials/_login-register.html' %}
        {% include './partials/_header.html' %}

    </nav>
</header>

<section class="login-page">
    <h2> Email wysłany na podany przez ciebie adres </h2>
    <h4> Wyślemy ci email z instrukcjami resetu hasła, jeśli istnieje konto z przypisanym adresem Email.</h4>
    <h4> Powinien dotrzeć wkrótce </h4>

</section>

{% include './partials/_footer.html' %}

{% endblock %}

