{% extends 'base.html' %}
{% block title %}Email Wysłany{% endblock %}
{% block container %}

<header>
    <nav class="container container--70">
        {% include './partials/_login-register.html' %}
        {% include './partials/_header.html' %}

    </nav>
</header>

<section class="login-page">
    <h2> Hasło zostało zrestartowane </h2>
    <h4> Nowe hasło ustawione. Możesz się teraz zalogować nowym hasłem</h4>
  <a href="{% url 'projectapp:login' %}" class="btn btn--without-border">Zaloguj się</a>


</section>

{% include './partials/_footer.html' %}

{% endblock %}

