{% extends 'base.html' %}
{% block title %}Zapomniane hasło{% endblock %}
{% block container %}

<header>
    <nav class="container container--70">
        {% include './partials/_login-register.html' %}
        {% include './partials/_header.html' %}

    </nav>
</header>

<section class="login-page">
    <h2> Nie ma konta powiązanego z tym adresem Email </h2>
    <a href="{% url 'users:password_reset' %}" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>

</section>

{% endblock %}
