{% extends 'base.html' %}
{% load static %}
{% block title %}Formularz{% endblock %}
{% block container %}
<header class="header--form-page">
    <nav class="container container--70">


        {% include './partials/_login-register.html' %}

        <ul>
            <li><a href="{% url 'projectapp:landingpage' %}" class="btn btn--without-border active">Start</a></li>
            <li><a href="{% url 'projectapp:landingpage' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a href="{% url 'projectapp:landingpage' %}#about-us" class="btn btn--without-border">O nas</a></li>
            <li><a href="{% url 'projectapp:landingpage' %}#help" class="btn btn--without-border">Fundacje i
                organizacje</a></li>
            <li><a href="{% url 'projectapp:add' %}#donation" class="btn btn--without-border">Przekaż dary</a></li>
            <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>

    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Oddaj rzeczy, których już nie chcesz<br/>
                <span class="uppercase">potrzebującym</span>
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                <ul class="slogan--steps-boxes">
                    <li>
                        <div><em>1</em><span>Wybierz rzeczy</span></div>
                    </li>
                    <li>
                        <div><em>2</em><span>Spakuj je w worki</span></div>
                    </li>
                    <li>
                        <div><em>3</em><span>Wybierz fundację</span></div>
                    </li>
                    <li>
                        <div><em>4</em><span>Zamów kuriera</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section id="donation" class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3>Ważne!</h3>
            <p data-step="1" class="active">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3">
                Wybierz jedną, do
                której trafi Twoja przesyłka.
            </p>
            <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/5</div>

        <form action="" method="post">
            {% csrf_token %}

            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active" id="category-choices">
                <h3>Zaznacz co chcesz oddać:</h3>


                {% for name in category %}
                <div class="form-group form-group--checkbox">

                    <label class="category-input">
                        <input
                                id="category"
                                type="checkbox"
                                name="{{name.id}}"
                                value="{{name}}"
                        />
                        <span class="checkbox"></span>
                        <span class="description"
                        >{{name}}</span>
                    </label>

                </div>

                {% endfor %}
                <div class="form-group form-group--buttons">
                    <button id="btn-slide-1" type="button" class="btn next-step">Dalej</button>
                </div>
            </div>


            <!--            <div class="form-group form-group&#45;&#45;checkbox">-->
            <!--              <label>-->
            <!--                <input-->
            <!--                  type="checkbox"-->
            <!--                  name="categories"-->
            <!--                  value="clothes-to-use"-->
            <!--                />-->
            <!--                <span class="checkbox"></span>-->
            <!--                <span class="description"-->
            <!--                  >ubrania, które nadają się do ponownego użycia</span-->
            <!--                >-->
            <!--              </label>-->
            <!--            </div>-->

            <!--            <div class="form-group form-group&#45;&#45;checkbox">-->
            <!--              <label>-->
            <!--                <input-->
            <!--                  type="checkbox"-->
            <!--                  name="categories"-->
            <!--                  value="clothes-useless"-->
            <!--                />-->
            <!--                <span class="checkbox"></span>-->
            <!--                <span class="description">ubrania, do wyrzucenia</span>-->
            <!--              </label>-->
            <!--            </div>-->

            <!--            <div class="form-group form-group&#45;&#45;checkbox">-->
            <!--              <label>-->
            <!--                <input type="checkbox" name="categories" value="toys" />-->
            <!--                <span class="checkbox"></span>-->
            <!--                <span class="description">zabawki</span>-->
            <!--              </label>-->
            <!--            </div>-->

            <!--            <div class="form-group form-group&#45;&#45;checkbox">-->
            <!--              <label>-->
            <!--                <input type="checkbox" name="categories" value="books" />-->
            <!--                <span class="checkbox"></span>-->
            <!--                <span class="description">książki</span>-->
            <!--              </label>-->
            <!--            </div>-->

            <!--            <div class="form-group form-group&#45;&#45;checkbox">-->
            <!--              <label>-->
            <!--                <input type="checkbox" name="categories" value="other" />-->
            <!--                <span class="checkbox"></span>-->
            <!--                <span class="description">inne</span>-->
            <!--              </label>-->
            <!--            </div>-->


            <!-- STEP 2 -->
            <div data-step="2">
                <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                <div class="form-group form-group--inline" id="bags-div">
                    <label>
                        Liczba 60l worków:
                        <input id="bags" type="number" name="bags" step="1" min="1"/>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button id="back-btn-2" type="button" class="btn prev-step">Wstecz</button>
                    <button id="btn-slide-2" type="button" class="btn next-step">Dalej</button>
                </div>
                <div id='no-bags' class="no-bags">Dodaj przynajmniej jeden worek.</div>
            </div>


            <!-- STEP 3 -->
            <div data-step="3">
                <h3>Wybierz organizacje, której chcesz pomóc:</h3>

                <div id="institution-choice" class="form-group form-group--checkbox">
                    {% for institution in institutions %}
                    <label class="institution-choice">
                        <input type="radio" name="organization" value={{institution.id}}>
                        <span class="checkbox radio"></span>
                        <span class="description">
                        <div class="title">{{ institution.name }}</div>
                        <div class="subtitle">{{ institution.description }}</div>
                        <div hidden="" class="hidden-info">{% for category in institution.categories.all %} {{category}}{% endfor %}</div>
                        <div>Kategorie : {% for category in institution.categories.all %} {{category}} {% endfor %} </div>

                        </span>
                    </label>
                    {% endfor %}
                    <div style="display: none" class="empty-list">Żadna instytucja nie obsługuje wybranych kategorii.
                        Zmień wybór w kroku 1.
                    </div>
                </div>

                <div class="form-group form-group--buttons">
                    <button id="back-btn-3" type="button" class="btn prev-step">Wstecz</button>
                    <button id="btn-slide-3" type="button" class="btn next-step">Dalej</button>
                </div>
                <div id="empty-institution" class="empty-institution">Wybierz instytucję.</div>
            </div>


            <!--            <div class="form-group form-group&#45;&#45;checkbox">-->
            <!--              <label>-->
            <!--                <input type="radio" name="organization" value="old" />-->
            <!--                <span class="checkbox radio"></span>-->
            <!--                <span class="description">-->
            <!--                  <div class="title">Fundacja “Bez domu”</div>-->
            <!--                  <div class="subtitle">-->
            <!--                    Cel i misja: Pomoc dla osób nie posiadających miejsca-->
            <!--                    zamieszkania-->
            <!--                  </div>-->
            <!--                </span>-->
            <!--              </label>-->
            <!--            </div>-->

            <!--            <div class="form-group form-group&#45;&#45;checkbox">-->
            <!--              <label>-->
            <!--                <input type="radio" name="organization" value="old" />-->
            <!--                <span class="checkbox radio"></span>-->
            <!--                <span class="description">-->
            <!--                  <div class="title">Fundacja “Dla dzieci"</div>-->
            <!--                  <div class="subtitle">-->
            <!--                    Cel i misja: Pomoc osobom znajdującym się w trudnej sytuacji-->
            <!--                    życiowej.-->
            <!--                  </div>-->
            <!--                </span>-->
            <!--              </label>-->
            <!--            </div>-->


            <!-- STEP 4 -->
            <div data-step="4" id="detail-form">
                <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                <div id="pick-up-details" class="form-section form-section--columns">
                    <div class="form-section--column">
                        <h4>Adres odbioru</h4>
                        <div class="form-group form-group--inline details">
                            <label> Ulica <input id="address" type="text" name="address"/> </label>
                        </div>

                        <div class="form-group form-group--inline details">
                            <label> Miasto <input id="city" type="text" name="city"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Kod pocztowy <input id="postcode" type="text" name="postcode"/>
                            </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Numer telefonu <input id="phone" type="phone" name="phone"/>
                            </label>
                        </div>
                    </div>

                    <div id="pick-up-date" class="form-section--column">
                        <h4>Termin odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label> Data <input id="data" type="date" name="data"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> Godzina <input id="time" type="time" name="time"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Uwagi dla kuriera
                                <textarea id="more_info" name="more_info" rows="5"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button id="btn-slide-4" type="button" class="btn next-step">Dalej</button>
                </div>
                <div id="wrong-data" class="empty-details">Błędny numer telefonu.</div>
                <div id="wrong-zip-code" class="empty-details">Błędny kod pocztowy.</div>
                <div id="empty-details" class="empty-details">Wypełnij wszystkie pola lub podane nazwy są zbyt
                    krótkie.
                </div>
                <div id="wrong-date" class="empty-details">Możliwy najbliższy termin to jutro.</div>
            </div>


            <!-- STEP 5 -->
            <div data-step="5">
                <h3>Podsumowanie Twojej darowizny</h3>

                <div class="summary">
                    <div class="form-section">
                        <h4>Oddajesz:</h4>
                        <ul>
                            <li class="bags-summary">
                                <span class="icon icon-bag"></span>
                            </li>
                            <li class="institution-summary">
                                <span class="icon icon-hand"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru:</h4>
                            <ul class="address-list">
                            </ul>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru:</h4>
                            <ul class="pick-up-date">
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="display: none">
                    {{form}}
                </div>
                <div class="form-group form-group--buttons">
                    <button id="back-btn-5" type="button" class="btn prev-step">Wstecz</button>
                    <button type="submit" class="btn">Potwierdzam</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% include './partials/_footer.html' %}

{% endblock %}