{% extends 'base.html' %},
{% load static %}
{% block title %}Profil{% endblock %}
{% block container %}
<header class="header--form-page" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <nav class="container container--70">
        {% include './partials/_login-register.html' %}
        {% include './partials/_header.html' %}
    </nav>
    <section class="slogan container container--90">
        <div class=slogan--item">
            <h2>Profil Użytkownika:<br> {{ user.get_full_name }}</h2>
            <h1>Imię: {{ user.first_name }} </h1>
            <h1>Nazwisko: {{ user.last_name }} </h1>
            <h1>Adres E-mail: {{ user.email }}</h1>
        </div>
    </section>

</header>

<section class="about-us">
    <div class="about-us--text">
        <h2 > Lista Dotacji oczekujących na odbiór: </h2>
            {% for donation in user_donations %}
            {% if today < donation.pick_up_date %}
        <div style="border-style: solid;" class="about-us--text">
            <p>Ilość przekazanych darów:<br>{{ donation.quantity }}
             <br>Wsparta Organizacja:<br>{{ donation.institution }}
            <br>Kategorie Daru:<br>{{ donation.categories.all|join:', ' }}
            <br>Data odbioru daru:<br>{{ donation.pick_up_date }}
                <br>Godzina odbioru:<br>{{ donation.pick_up_time }}</p>
        </div>
            {% endif %}
            {% endfor %}

        <h2> Lista przekazanych dotacji </h2>

            {% for donation in user_donations %}
            {% if today > donation.pick_up_date %}
        <div style="border-style: solid;"  class="about-us--text" >
            <p>Ilość przekazanych darów:<br>{{ donation.quantity }}</p>
            <p>Wsparta Organizacja:<br>{{ donation.institution }}</p>
            <p>Kategorie Daru:<br>{{ donation.categories.all|join:', ' }}</p>
            <p>Data odbioru daru:<br>{{ donation.pick_up_date }}
               <br>Godzina odbioru:<br>{{ donation.pick_up_time }}</p>
        </div>
            {% endif %}
            {% endfor %}
    </div>
    </section>
{% include './partials/_footer.html' %}

{% endblock %}